#container {
	width: 50%;
	margin: 5% auto;
}

.header {
	text-align: center; 
	margin-bottom: 50px; 
	font-size: 20px;
	font-weight: bold;
}


.info {
	display: inline-block;
    position: relative;
    margin-left: 20px;
    top: -42px;
    font-size: 15px; 
}

.name {
	font-weight: bold;
}

.company {
   position: relative;
   top: 10px;
}